body
{
background-image:url('/static/img/fonly.jpg');
background-repeat:no-repeat;
background-position:center top; 
}

.uiBox
{
position:relative;
background-color:transparent;
margin-left:auto;
margin-right:auto;
width:400px;
height:250px;
top:300px;

}

#file 
{
position:absolute;
left:141px;
top:27px; 
margin:0;
}

#btnFile 
{
position:absolute;
left:269px;
top:26px; 
margin:0;
}

#originFile
{
opacity:0;
}

#phone
{
position:absolute;
left:141px;
top:62px;
margin:0;
}

#title
{
position:absolute;
left:141px;
top:97px;
margin:0;
}

input[type=text] {
border:none;
background-color:transparent; 
width:175px;
}

#submit
{
position:absolute;
left:120px;
top:150px;
margin:0;
width:160px;
height:60px;
}
