body
{
background-image:url('../img/fonly.jpg');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center top; 
}

.mainForm
{
position:relative;
background-color:transparent;
margin-left:auto;
margin-right:auto;
width:400px;
height:400px;
top:300px;

}

.imgfile 
{
position:absolute;
left:141px;
top:26px; 
margin:0;
}

.phonetext
{
position:absolute;
left:141px;
top:62px;
margin:0;
}

.nametext
{
position:absolute;
left:141px;
top:97px;
margin:0;
}

input[type=text] {
border:none;
background-color:transparent; 
width:175px;
}

.submit
{
position:absolute;
left:120px;
top:150px;
margin:0;
width:100px;
height:100px;
}
