body
{
background-image:url('../img/fonly.jpg');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:50% top; 
}

.mainForm
{
position:relative;
opacity:.5;
background-color:silver;
margin-left:auto;
margin-right:auto;
width:400px;
height:400px;
top:300px;

}

.imgfile 
{
position:absolute;
left:141px;
top:26px; 
margin:0;
}

.phonetext
{
position:absolute;
left:141px;
top:62px;
margin:0;
}

.nametext
{
position:absolute;
left:141px;
top:97px;
margin:0;
}

input {
border:none;
background-color:black; 
width:175px;
}
