<!DOCTYPE html> 
<html> 
<head> 
<meta charset="utf-8"> 
<link href="/static/css/main.css" rel="stylesheet">
<title>Welcome to fon.ly</title>
<script type="text/javascript" src="/static/js/jQuery.fileinput.js"></script>
<script type="text/javascript" src="/static/js/jquery.jqUploader.js"></script> 
<script type="text/javascript" src="/static/js/swfobject.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>
<script>
jQuery(function($) {
	$('#originFile').customFileInput();
});

var shorten = function() {
    if($('#originFile').val() == '') {

        return false; 
    } else {
        $('#mainForm').submit()
    }
}


</script>
<style>
.alertbox {width:20%; margin-left:auto; margin-right:auto;}
</style>
</head>
<body>
<form id="mainForm" name="mainForm" enctype="multipart/form-data" action="/imageUploader/upload" method="POST">
<div class="mainForm">
	<div class="imgfile">
	    <input id="originFile" name="originFile" type="file"/>
	   <!-- <input type="file" name="originFile" id="originFile"/> -->
	</div>
	<div class="phonetext">
	    <input type="text" name="phone" id="phone" value="" />
	</div>
	<div class="nametext">
	    <input type="text" name="title" id="title" value="" />
	</div>
        <div class="submit">
	    <input type="button" value="Shorten" onclick="shorten()"/>
	</div>
</div>
<!--
<div>
    
        TITLE<input type="text" name="title" id="title" value="" />
        PHONE NUMBER<input type="text" name="phone" id="phone" value="" />
        <input type="button" value="Shorten" onclick="shorten()"/>
   
</div>
-->
</form>
{% for post in posts %}
<img class="rounded-img" src="/static/upload/80_{{post.filename}}"  />
{% endfor %}

</body>
</html>


