<!DOCTYPE html> 
<html> 
<head> 
<meta charset="utf-8"> 
<link href="/static/css/main.css" rel="stylesheet">
<title>Welcome to fon.ly</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>
<script>

var shorten = function() {
    if($('#fileUpload').val() == '') {
        return false; 
    } else {
        $('#mainForm').submit()
    }
}

var pasteFilename = function() {

    var fullPath = $('#originFile').val();

    var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
    var filename = fullPath.substring(startIndex);
    if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
            filename = filename.substring(1);
    }

    $('#vfile').val(filename);
}

$('#originFile').live('change', pasteFilename);
 


</script>
<style>
.alertbox {width:20%; margin-left:auto; margin-right:auto;}
</style>
</head>
<body>
<form id="mainForm" enctype="multipart/form-data" action="/imageUploader/upload" method="POST">{% csrf_token %}
    <div class="uiBox">
        <div id="file">
            <input type="text" id="vfile" style="width:110px"/>
        </div>
        <div id="btnFile">
           <input type="file" id="originFile" name="originFile" style="width:60px"/>
        </div>
        <div id="phone">
            <input type="text" name="phone" value="010-8719-2268" />
        </div>
        <div id="title">
            <input type="text" name="title" value="전호석" />
        </div>
        <a href="#" onclick="shorten()"><div id="submit"></div></a>
    </div>
</form>

</body>
</html>

